.modal{
    width: 90%;
    height: 90vh;
    background: rgb(20, 189, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:40px 50px;
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 12px rgb(20, 189, 172);
    position: absolute;
    /* top: 50%; */
    top: 0;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    transform: translate(-50%,-50%) scale(0.1);
    transition: transform .4s top .4s;
    visibility: hidden;
    z-index: 99;
  }
  .open-modal{
    top: 50%;
    transform: translate(-50%,-50%);
    visibility: visible;
  }