@media only screen and (max-width: 1400px) {
  .container {
    width: 100%;
  }
  #tmdb-navbar {
    padding: 12px 27px;
  }
  .tmdb-navbar {
    width: 100%;
  }
  .genres-responsive{
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .tmdb-navbar__left__menu li,
  .tmdb-navbar__right__menu li:not(.navbar-lang) {
    padding: 0;
  }

  .movie-detail_actions-list {
    gap: 10px;
  }
  .movie-detail_facts {
    gap: 5px;
  }
}
@media only screen and (max-width: 800px) {
  .card__selector-dropdown {
    display: flex;
  }
  .dropdown-menu {
    width: 130px;

    background: linear-gradient(
      to right,
      rgba(192, 254, 207, 1) 0%,
      rgba(0, 213, 169, 1) 100%
    );
  }
  .dropdown-link {
    font-weight: 600;
    font-size: 16px;
  }
  .dropdown-link:hover:not(.lang-link) {
    background-color: transparent;
  }
  .dropdown-none {
    display: none;
  }
  .display-none {
    display: flex;
  }

  .tmdb-navbar,
  .tmdb-footer__logo {
    display: none;
  }
  .join__bottom {
    display: flex;
    flex-direction: column;
  }
  .leaderboards {
    padding: 30px 20px;
  }
  .leaderbord {
    grid-template-columns: repeat(1, 1fr);
  }
  .section__header {
    margin-left: 20px;
  }
  .section__posters {
    margin-left: 20px;
  }

  .tmdb-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }
  .footer__join-btn {
    margin-bottom: 40px;
  }
  .footer__right {
    display: flex;
    flex-direction: column;
  }
  .footer__right ul {
    margin-bottom: 40px;
  }

  /* movie detail page  */
  .tooltip_chart {
    width: 70px;
  }
  .tooltip_play {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .modal {
    height: 50vh;
  }

  /* detail page  */
  .shortcut_bar-list {
    justify-content: space-between;
    padding: 0 20px;
  }
  .shortcut_bar-list li {
    margin-right: 5px;
    margin-top: 5px;
  }
  .main-movie_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 190px;
    padding: 0;
  }
  .main-movie_details::after{
    height: 190px;
  }
  .movie-details {
    width: 100%;
    padding: 20px;
    background: rgb(157, 178, 200);
    margin-top: 22px;
  }
  .movie-poster {
    margin: 20px 0 0 20px;
    width: 97px;
    height: 146px;
  }
  .tooltip {
    display: none;
  }
  .movie-detail_header-h2 {
    font-size: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
  }
  .movie-detail_facts {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .detail-dot:nth-of-type(3), .genres{
    display: none;
  } 
  .genres-responsive{
    display: flex;
  }
  .movie-detail_facts-resp-top{
    gap: 5px;
  }
  .movie-detail_actions-list{
    padding-top: 20px;
    justify-content: center;
  }
  .tooltip_chart{
    width: 110px;
  }
  .movie-detail_people-list{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }

}
