.sidebar{
    position: fixed;
    left: -90%;
    top: 64px;
    width: 90%;
    height: 100%;
    background-color: rgba(3, 37, 65, .8);
    backdrop-filter: blur(20px);
    padding: 20px;
    transition:all .5s ease-in ;
    z-index: 999;
}
.sidebar.sidebar-active{
    left: 0;
}
.sidebar__link-light {
    color: rgba(255, 255, 255, .6);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.sidebar .sidebar__link{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20.8px;
    color: #fff;
    padding-bottom: 10px ;
}